<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>135</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>240</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.125</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>120</real>
			<real>0.0</real>
			<real>-0.125</real>
			<real>0.0</real>
			<real>67.5</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	JpRTZA0nP9nARwCUtxPCag==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwUVSRudWxs1A0ODxAREhMT
	Wk5TTG9jYXRpb25WJGNsYXNzXE5TUmFuZ2VDb3VudFhOU0xlbmd0aBIAAVH4gAIQAdIV
	FhcYWiRjbGFzc25hbWVYJGNsYXNzZXNfEBFOU011dGFibGVJbmRleFNldKMZGhtfEBFO
	U011dGFibGVJbmRleFNldFpOU0luZGV4U2V0WE5TT2JqZWN0CBEaJCkyN0lMUVNXXWZx
	eIWOk5WXnKewxMjc5wAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADw
	</data>
</dict>
</plist>
