<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>srt_converter_test</string>
	<key>libraryID</key>
	<string>B2BFF2BD-3CE0-4313-8AF2-FAB103402743</string>
</dict>
</plist>
